{
	"extends": "imhotep/config/.babelrc",
	"env": {
		"test": {
			"presets": ["minify"]
		},
		"development": {
			"plugins": [
				[
					"styled-components",
					{
						"ssr": true,
						"displayName": true
					}
				]
			]
		}
	}
}
